<mat-toolbar class="toolbar" color="primary">
  <span>Clasificador</span>
  <button (click)="openDialog()" mat-icon-button>
    <mat-icon>post_add</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <mat-tab-group>
    <mat-tab label="Matriz de confusión">
      <div class="table-content">
        <app-tables
          *ngIf="
            matriz1Cols &&
            matriz1Cols.length > 0 &&
            matriz1Data &&
            matriz1Cols.length > 0
          "
          [matrizColumns]="matriz1Cols"
          [matrizData]="matriz1Data"
        ></app-tables>
      </div>
    </mat-tab>
    <mat-tab label="Métricas de evaluación">
      <div class="table-content">
        <app-tables
          *ngIf="
            matriz2Cols &&
            matriz2Cols.length > 0 &&
            matriz2Data &&
            matriz2Cols.length > 0
          "
          [matrizColumns]="matriz2Cols"
          [matrizData]="matriz2Data"
        ></app-tables>
        <div *ngIf="matriz2Data && matriz2Data.length > 0">
          <span>Accuarcy:{{ acc }}</span>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
