/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
$primaryPalette: mat-palette($mat-indigo);
html,
body {
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(48, 48, 48) !important;
  color: white !important;  
}

.border{
  border: 1px solid rgb(89, 89, 89) !important;
  border-radius: 5px;
}
.cursor-pointer{
  cursor: pointer;
}